@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/MinecraftTen-VGORe.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Minecraftia';
    src: url('../fonts/Minecraftia-Regular.ttf');
}

body {
    background-image: url('../../public/labBG.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.title {
    padding-top: 40px;
    font-family: 'Minecraft';
    color: white;
    font-size: 48px;
}
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border: 2px solid #000;
    font-size: 20px;
}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-label {
    color: #DDD;
    font-size: 16px;
}
.info-value {
    color: #FFFFA0;
    font-size: 24px;
}
.controls-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.mc-button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #999 center / cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

.mc-button a {
  text-decoration: none;
  color: inherit;
}

.mc-button:hover {
    background-color: rgba(100, 100, 255, .45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

.mc-button:active {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}   

.cow-container {
    position: absolute;
    right: 50px;
    bottom: 300px;
}

.cow {
    width: 250px;
    height: 250px;
}